<ng-template [ngIf]="anuncios.length" [ngIfElse]="sinAnuncios">
    <!------------------------------Slider para los tiempo de lectura---------------------------------->
    <div class="d-flex justify-content-center">
        <div id="carouselAnuncios" class="carousel slide" data-bs-ride="carousel" style="max-width:80vw">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let anuncio of anuncios; let i = index" [ngClass]="{'active': i === 1}" [attr.data-bs-interval]="{'2000':(anuncio.tiempoLectura == 'corto'),'5000':(anuncio.tiempoLectura == 'medio'),'10000':(anuncio.tiempoLectura == 'largo')}">

                    <div [ngSwitch]="anuncio.tipoContenido" class="card">
                        <div *ngSwitchCase="'pdf' || 'html'" class="w-100">
                            <iframe [src]="anuncio.contenido" frameborder="0"></iframe>
                        </div>
                        <div *ngSwitchCase="'png' || 'jpg' || 'jpeg' || 'gif'">
                            <img [src]="anuncio.contenido" class="img-fluid">
                        </div>
                        <div *ngSwitchCase="'avi'||'mp4'||'webm'" class="ratio ratio-16x9">
                            <iframe allowfullscreen controls frameborder="0" scrolling="no" [src]="anuncio.contenido"></iframe>
                            <video allowfullscreen controls frameborder="0" scrolling="no" [src]="anuncio.contenido"></video>
                        </div>
                        <div class="carousel-caption bg-transduced d-none d-md-block">
                            <h5>{{anuncio.titulo}}</h5>
                            <p>Vigencia del {{anuncio.fechaEntradaVigencia | date}} al {{anuncio.fechaSalidaVigencia|date}}</p>
                            <div *ngFor="let medio of anuncio.mediosTransmision">
                                <span class="py-1 px-3 my-0 mx-1">{{medio}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAnuncios" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAnuncios" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        </div>
    </div>

    <!------------------------------mostrar anuncios vigentes para sus roles---------------------------------->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 pt-5 pb-5 mx-0">
        <div class="col my-4 mx-auto shadow-lg rounded-3" *ngFor="let a of anuncios">
            <img class="card-img-top" [src]=a.contenido alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{a.titulo}}</h5>
                <p class="card-text">{{a.redactor.nombre}} {{a.redactor.apellido}}</p>
                <p class="card-text">
                    <ng-container *ngFor="let e of a.estados">
                        <li class="list-group-item bg-success">Estado del Anuncio: {{e.estado}}</li>
                    </ng-container>
                </p>
                <!-- Button Modal -->
                <button type="button" class="w-100 btn btn-info mt-3" data-bs-toggle="modal" data-bs-target="#modalRecursos">
              Recursos <i class="bi bi-archive"></i>
            </button>
            </div>
            <!-- Modal QR -->
            <div class="modal fade" id="modalRecursos" tabindex="-1" aria-labelledby="modalRecursosLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalRecursosLabel">Recursos de {{a.titulo}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                            <img [src]="a.codigoQR" class="w-50" alt="QR Anuncio">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------filtrar anuncios historicos para algunos de sus roles---------------------->
    <div class="container-fluid">
        <div class="d-flex">
            <select class="form-select" [(ngModel)]="rolElegido" name="rolElegido">
                <option *ngFor="let r of roles" value={{r._id}}>{{r.nombre}}</option>
            </select>
            <button type="button" class="btn btn-primary" [ngClass]="{'disabled':rolElegido==''}" (click)="filtrarAnuncios()">Filtrar</button>
        </div>
        <div class="row container pt-5 pb-5 mx-0">
            <div class="col-4" *ngFor="let b of anunciosFiltrados" style="width: 18rem;">
                <img class="card-img-top" [src]=b.contenido alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{b.titulo}}</h5>
                    <p class="card-text">{{b.redactor}}</p>
                    <a href="#" class="btn btn-primary">Tiempo de lectura {{b.tiempoLectura}}</a>
                </div>
            </div>
        </div>
    </div>

</ng-template>


<ng-template #sinAnuncios>
    <div class="sinAnuncios w-100 d-flex justify-content-center align-items-center flex-column">
        <h1>No hay anuncios para mostrar aqui</h1>
    </div>
</ng-template>