<!------------------------------Slider para los tiempo de lectura---------------------------------->

<!------------------------------mostrar anuncios vigentes para sus roles---------------------------------->
<div class="row container pt-5 pb-5">
    <div class="col-4" *ngFor="let a of anuncios" style="width: 18rem;">
      <img class="card-img-top" [src]=a.contenido  alt="Card image cap">
      <div class="card-body">

        <h5 class="card-title">{{a.titulo}}</h5>
        <p class="card-text">{{a.redactor}}</p>
        <a href="#" class="btn btn-primary">Tiempo de lectura {{a.tiempoLectura}}</a>
        <p class="card-text">
          <ng-container *ngFor="let e of a.estados">
            <li>{{e.estado}}</li>
          </ng-container>
        </p>
      </div>
    </div>
</div>

<!------------filtrar anuncios historicos para algunos de sus roles---------------------->
<select class="form-select" [(ngModel)]="rolElegido" name="rolElegido">
  <option *ngFor="let r of roles" value={{r._id}}>{{r.nombre}}</option>
</select>
<button type="button" class="btn btn-primary" (click)="filtrarAnuncios()">Filtrar</button>


<div class="row container pt-5 pb-5">
  <div class="col-4" *ngFor="let b of anunciosFiltrados" style="width: 18rem;">
    <img class="card-img-top" [src]=b.contenido  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{b.titulo}}</h5>
      <p class="card-text">{{b.redactor}}</p>
      <a href="#" class="btn btn-primary">Tiempo de lectura {{b.tiempoLectura}}</a>
    </div>
  </div>
</div>
  