<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="filtros">
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" [(ngModel)]="estado" name="estado" (ngModelChange)="cargarAnuncios()">
              <option value="autorizado">Autorizado</option>
              <option value="cancelado">Cancelado</option>
              <option value="confeccionado">Confeccionado</option>
            </select>
            <label for="floatingSelect">Estados</label>
        </div>
    </div>
    <div class="col">
        <div class="card" *ngFor="let a of anuncios">
            <div class="card-body">
                <h5 class="card-title">Titulo: {{a.titulo}}</h5>
                <p class="card-text">
                    <ng-container *ngFor="let e of a.estados">
                        <li><b *ngIf="e.area.toString()==areaId">{{e.estado}}</b></li>
                    </ng-container>
                </p>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="button" (click)="actualizarEstadoAnuncio(a,'autorizado')">Autorizar</button>
                <button class="btn btn-danger" type="button" (click)="actualizarEstadoAnuncio(a,'cancelado')">Cancelar</button>
                <button class="btn btn-warning" type="button" (click)="actualizarEstadoAnuncio(a,'confeccionado')">Confeccionado</button>
            </div>
        </div>
    </div>
</div>    