<!---->
<div class="mb-3">
    <div class="filtro">
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" [(ngModel)]="estado" name="estado" (change)="cargarAnuncios()">
              <option value="autorizado">Autorizado</option>
              <option value="cancelado">Cancelado</option>
              <option value="confeccionado">Pendientes</option>
            </select>
            <label for="floatingSelect">Estados</label>
        </div>
    </div>
    <div *ngIf="anuncios.length" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
        <div class="col my-4 mx-auto shadow-lg rounded-3 card" *ngFor="let anuncio of anuncios" class="card">
            <div class="card-header">
                <div *ngIf="anuncio.tipoContenido == 'mp4' || anuncio.tipoContenido == 'avi' || anuncio.tipoContenido == 'webm'" class="ratio ratio-16x9">
                    <video allowfullscreen loop controls [controlsList]="'nodownload'" frameborder="0" scrolling="no">
                        <source [type]="'video/'+anuncio.tipoContenido" [src]="contenidos[anuncios.indexOf(anuncio)]">
                    </video>
                </div>
                <div *ngIf="anuncio.tipoContenido == 'jpg' || anuncio.tipoContenido == 'jpeg' || anuncio.tipoContenido == 'png'  || anuncio.tipoContenido == 'gif'">
                    <img [src]="contenidos[anuncios.indexOf(anuncio)]" [alt]="anuncio.titulo+'.'+anuncio.tipoContenido" class="w-100 img-fluid">
                </div>
                <div *ngIf="anuncio.tipoContenido == 'pdf' || anuncio.tipoContenido == 'html'">
                    <iframe [src]="contenidos[anuncios.indexOf(anuncio)]" frameborder="0" class="w-100"></iframe>
                </div>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <p class="card-text" *ngFor="let e of anuncio.estados">
                    <li class="list-group-item d-flex justify-content-center">
                        {{e.estado | titlecase}}
                        <i class="bi ms-2" [ngClass]="{'bi-check-circle-fill text-success':e.estado=='autorizado','bi-x-circle-fill text-danger':e.estado=='cancelado','bi-info-circle-fill text-warning':e.estado=='confeccionado'}"></i>
                    </li>
                    <button [hidden]="e.estado!=='confeccionado'" class="btn btn-primary" type="button" (click)="actualizarEstadoAnuncio(anuncio,'autorizado')">Autorizar</button>
                    <button [hidden]="e.estado!=='confeccinoado'" class="btn btn-danger" type="button" (click)="actualizarEstadoAnuncio(anuncio,'cancelado')">Cancelar</button>
                    <button [hidden]="e.estado=='autorizado' || e.estado=='cancelado'" class="btn btn-warning" type="button" (click)="actualizarEstadoAnuncio(anuncio,'editar')">Solicitar Revision</button>
                </p>
                <h5 class="card-title">{{anuncio.titulo}}</h5>
                <!-- Redactor -->
                <p class="card-text">Redactor: {{anuncio.redactor.nombre |titlecase}} {{anuncio.redactor.apellido | titlecase}}</p>
                <!-- Destinatarios -->
                <p class="mb-0">Destinatarios:</p>
                <span class="ms-4" *ngFor="let d of anuncio.destinatarios">{{d.nombre | titlecase}}</span>
                <!-- Medios -->
                <p class="mb-0">Medios:</p>
                <span class="ms-4" *ngFor="let medio of anuncio.mediosTransmision">
                    <i class="bi me-2" [ngClass]="'bi-'+medio"></i>{{medio | titlecase}}
                </span>
                <!-- Button Modal -->
                <button type="button" class="w-100 btn btn-info mt-3" data-bs-toggle="modal" data-bs-target="#modalRecursos">Recursos <i class="bi bi-archive"></i></button>
            </div>
            <!-- Modal QR -->
            <div class="modal fade" id="modalRecursos" tabindex="-1" aria-labelledby="modalRecursosLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalRecursosLabel">Recursos de {{anuncio.titulo}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex justify-content-center">
                            <img [src]="anuncio.codigoQR" class="w-50" alt="QR Anuncio">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!anuncios.length" class="sinResultados d-flex justify-content-center align-items-center">
        <h3>No hay anuncios con el estado {{estado | titlecase}}</h3>
    </div>
</div>
<hr class="dropdown-divider">
<!--Filtros(botones y selectores)-->
<div class="mt-5 mb-3 row row-cols-2">
    <h2 class="text-center" class="text-center col-6">Busquedas avanzadas</h2>
    <div class="btn-group col-6 row row-cols-2">
        <div class="d-flex justify-content-end col">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Filtro <i class="bi bi-filter"></i>
            </button>
            <ul class="dropdown-menu m-0 p-0">
                <li class="p-0 m-0">
                    <div class="dropdown-item form-floating m-0 p-0">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" [(ngModel)]="tipoContenido" name="tipo" (change)="actualizarFiltro()">
                            <option value="texto plano">Texto plano</option>
                            <option value="img">Imagen</option>
                            <option value="html">HTML</option>
                            <option value="tv">TV</option>
                            <option value="email">Email</option>
                            <option value="pdf">PDF</option>
                        </select>
                        <label for="floatingSelect">Tipo contenido</label>
                    </div>
                </li>
                <li class="p-0 m-0">
                    <div class="dropdown-item form-floating m-0 p-0">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" [(ngModel)]="estado2" name="estado2" (change)="actualizarFiltro()">
                            <option value="confeccionado">Confeccionado</option>
                            <option value="autorizado">Autorizado</option>
                            <option value="cancelado">Cancelado</option>
                        </select>
                        <label for="floatingSelect">Estado</label>
                    </div>
                </li>
                <li class="p-0 m-0">
                    <div class="dropdown-item form-floating m-0 p-0">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" [(ngModel)]="medioPublicacion" name="medio" (change)="actualizarFiltro()">
                            <option value="FaceBook">Facebook</option>
                            <option value="Instagram">Instagram</option>
                            <option value="Twitter">Twitter</option>
                        </select>
                        <label for="floatingSelect">Medio de publicacion</label>
                    </div>
                </li>
                <li class="p-0 m-0">
                    <div class="dropdown-item form-floating m-0 p-0">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" [(ngModel)]="redactor" name="redactor" (change)="actualizarFiltro()">
                            <option value="{{r._id}}" *ngFor="let r of redactores">{{r.nombre|titlecase}}, {{r.apellido|titlecase}}</option>
                        </select>
                        <label for="floatingSelect">Redactor</label>
                    </div>
                </li>
                <li class="p-0 m-0">
                    <div class="dropdown-item form-floating m-0 p-0">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" [(ngModel)]="destinatario" name="destinatario" (change)="actualizarFiltro()">
                            <option value="{{d._id}}" *ngFor="let d of destinatarios">{{d.nombre|titlecase}}</option>
                        </select>
                        <label for="floatingSelect">Destinatarios</label>
                    </div>
                </li>
                <li class="p-0 m-0">
                    <div class="dropdown-item form-floating m-0 p-0">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="texto" name="texto" (change)="actualizarFiltro()">
                        <label for="floatingInput">Texto</label>
                    </div>
                </li>
                <li class="p-0 m-0">
                    <div class="dropdown-item form-floating m-0 p-0">
                        <input type="date" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="fechaEntrada" name="fechaEntrada" (change)="actualizarFiltro()">
                        <label for="floatingPassword">Fecha de Entrada</label>
                    </div>
                </li>
                <li class="p-0 m-0">
                    <div class="dropdown-item form-floating m-0 p-0">
                        <input type="date" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="fechaSalida" name="fechaSalida" (change)="actualizarFiltro()">
                        <label for="floatingPassword">Fecha de Vigencia</label>
                    </div>
                </li>
            </ul>
        </div>
        <button *ngIf="anuncioFiltro.length!=0" type="button" class="btn btn-warning col" (click)="limpiarFiltro()">Limpiar</button>
    </div>
</div>
<div *ngIf="anuncioFiltro.length" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
    <div class="col my-4 mx-auto shadow-lg rounded-3 card" *ngFor="let anuncio of anuncioFiltro" class="card">
        <div class="card-header">
            <div *ngIf="anuncio.tipoContenido == 'mp4' || anuncio.tipoContenido == 'avi' || anuncio.tipoContenido == 'webm'" class="ratio ratio-16x9">
                <video allowfullscreen loop controls [controlsList]="'nodownload'" frameborder="0" scrolling="no">
                    <source [type]="'video/'+anuncio.tipoContenido" [src]="contenidosFiltro[anuncioFiltro.indexOf(anuncio)]">
                </video>
            </div>
            <div *ngIf="anuncio.tipoContenido == 'jpg' || anuncio.tipoContenido == 'jpeg' || anuncio.tipoContenido == 'png'  || anuncio.tipoContenido == 'gif'">
                <img [src]="contenidosFiltro[anuncioFiltro.indexOf(anuncio)]" [alt]="anuncio.titulo+'.'+anuncio.tipoContenido" class="w-100 img-fluid">
            </div>
            <div *ngIf="anuncio.tipoContenido == 'pdf' || anuncio.tipoContenido == 'html'">
                <iframe [src]="contenidosFiltro[anuncioFiltro.indexOf(anuncio)]" frameborder="0" class="w-100"></iframe>
            </div>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <p class="card-text" *ngFor="let e of anuncio.estados">
                <li class="list-group-item d-flex justify-content-center">{{e.estado | titlecase}} <i class="bi ms-2" [ngClass]="{'bi-check-circle-fill text-success':e.estado=='autorizado','bi-x-circle-fill text-danger':e.estado=='cancelado','bi-info-circle-fill text-warning':e.estado=='pendiente'}"></i>
                </li>
            </p>
            <h5 class="card-title">{{anuncio.titulo}}</h5>
            <!-- Redactor -->
            <p class="card-text">Redactor: {{anuncio.redactor.nombre |titlecase}} {{anuncio.redactor.apellido | titlecase}}</p>
            <!-- Destinatarios -->
            <p class="mb-0">Destinatarios:</p>
            <span class="ms-4" *ngFor="let d of anuncio.destinatarios">{{d.nombre | titlecase}}</span>
            <!-- Medios -->
            <p class="mb-0">Medios:</p>
            <span class="ms-4" *ngFor="let medio of anuncio.mediosTransmision">
                <i class="bi me-2" [ngClass]="'bi-'+medio"></i>{{medio}}
            </span>
            <!-- Button Modal -->
            <button type="button" class="w-100 btn btn-info mt-3" data-bs-toggle="modal" data-bs-target="#modalRecursos">Recursos <i class="bi bi-archive"></i></button>
        </div>
        <!-- Modal QR -->
        <div class="modal fade" id="modalRecursos" tabindex="-1" aria-labelledby="modalRecursosLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalRecursosLabel">Recursos de {{anuncio.titulo}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <img [src]="anuncio.codigoQR" class="w-50" alt="QR Anuncio">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sinResultados d-flex justify-content-center align-items-center" *ngIf="anuncioFiltro.length==0">
    <h3 class="text-center">Sin Resultados en tu Busqueda</h3>
</div>