<div class="collapse" id="formulario">
    <div *ngIf="modoCrear || modoEditar">
        <form name="form" class="container pt-5 pb-5">
            <div class="form-floating mb-3">
                <input [(ngModel)]="anuncio.titulo" type="text" class="form-control" name="titulo" id="titulo" placeholder="titulo">
                <label for="titulo">Titulo:</label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="contenido">Contenido</label>
                <input name="contenido" type="file" class="form-control" id="contenido" accept="video/,image/,.pdf,.html,.jpeg,.png,.gif" (change)="getFile($event,'contenido')">
            </div>
            <div class="input-group mb-3">
                <label class="input-group" for="fechaSalida">Fecha de Finalizacion:</label>
                <input [(ngModel)]="anuncio.fechaSalidaVigencia" type="date" class="form-control" id="fechaSalida" name="fechaSalida">
            </div>
            <div class="input-group mb-3">
                <select [(ngModel)]="anuncio.tiempoLectura" class="form-select" id="tiempoLectura" name="tiempoLectura">
                    <option value="corto">Corto</option>
                    <option value="medio">Medio</option>
                    <option value="largo">Largo</option>
                </select>
                <label class="input-group-text" for="tiempoLectura">Tiempo de Lectura</label>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="recurso">Recursos</label>
                <!-- agregar formatos -->
                <input name="recurso" type="file" class="form-control" id="recurso" accept=".png, .jpg, .jpeg, .pdf, .gif, .html, .mp4, .avi, .webm" multiple (change)="getFile($event,'recursos')">
            </div>

            <div class="input-group mb-3">
                <select [(ngModel)]="area._id" (change)="cargarRolesArea(area._id)" class="form-control" name="areas" id="areas">
                    <option *ngFor="let area of areas" [value]="area._id">{{area.nombre}}</option>
                </select>
            </div>


            <div *ngIf="area._id != ''" class="input-group mb-3">
                <select class="form-select" [(ngModel)]="rol._id" name="rol" id="rol" placeholder="Rol" aria-label="Example select with button addon">
                    <option *ngFor="let role of roles" [value]="role._id">{{role.nombre}}</option>
                </select>
                <button type="submit" class="btn btn-success" (click)="agregarRol(area._id)">agregar destinatario</button>
            </div>

            <div class="input-group mb-3">
                <select class="form-control" [(ngModel)]="medio" name="medio" id="medio">
                    <option *ngFor="let med of medios" [value]="med">{{med}}</option>
                </select>
                <button type="submit" class="btn btn-success" (click)="agregarMedios()">agregar medio </button>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success" (click)="guardarAnuncio('editar')">Guardar Anuncio</button>
                <button type="submit" class="btn btn-success" (click)="guardarAnuncio('confeccionado')">Publicar</button>
            </div>
        </form>
    </div>
</div>

<button class="btnFormulario btn rounded-circle" [ngClass]="{'btn-primary':!modoCrear,'btn-danger btn-close p-3':modoCrear}" (click)="modoCrear=true;modoEditar=false" type="button" data-bs-toggle="collapse" data-bs-target="#formulario">
    <i *ngIf="!modoCrear" class="bi bi-plus fs-4"></i>
</button>

<div class="card-deck row">
    <div *ngFor="let anuncioSelected of anuncios" class="card col-4">
        <img class="card-img-top" [src]=anuncioSelected.codigoQR alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{anuncioSelected.titulo}}</h5>
            <p class="card-text">{{anuncioSelected.redactor}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="submit" class="btn btn-success" (click)="cambiarEstado(anuncioSelected,'editar');modoEditar=true" data-bs-toggle="collapse" data-bs-target="#formulario">Editar</button>
            <button type="submit" class="btn btn-success" (click)="cambiarEstado(anuncioSelected,'confeccionado')">publicar</button>
        </div>
    </div>
</div>