<form>
    <div class="mb-3">
      <label class="form-label">Titulo</label>
      <input type="text" class="form-control" id="titulo" >
    </div>
    <div class="mb-3">
        <label class="form-label">Contenido</label>
        <input type="text" class="form-control" id="contenido" ><!-- imagen archivo pdf-->
    </div>
    <div class="mb-3 form-check">
        <label class="form-label">Tipo de Contenido</label>
        <input type="text" class="form-control" id="tipo" >
    </div>
    <div class="mb-3 form-check">
        <label class="form-label">fecha de salida de vigencia</label>
        <input type="date" class="form-control" id="salida" >
    </div>
    <div class="mb-3 form-check">
        <label class="form-label">Tiempo de lectura</label> <!--corto, medio, largo-->
        <input type="text" class="form-control" id="tiempo" >
    </div>
    <div class="mb-3 form-check">
        <label class="form-label">Destinatarios</label> <!-- que se seleccione Area y cargue los roles disponibles-->
        <input type="text" class="form-control" id="titulo" >
    </div>
    <div class="mb-3 form-check">
        <label class="form-label">Recursos</label>
        <input type="text" class="form-control" id="titulo" > <!--imagen video html etc-->
    </div>
    <div class="mb-3 form-check">
        <label class="form-label">Medios de Transmicion</label>
        <input type="text" class="form-control" id="titulo" >
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary">Publicar</button>
  </form>
