.nav-fondo {
    background-color: #212020;
}

.imagen-user {
    height: 60px;
    width: 60px;
    pointer-events: none;
    user-select: none;
}

.imagen-nav {
    height: 40px;
    width: 40px;
    pointer-events: none;
    user-select: none;
}

.navegacion {
    min-height: 10vh;
    max-height: 15vh;
}