<nav class="navbar navbar-dark nav-fondo fw-bold text-capitalize navegacion">
    <div class="container-fluid">
        <button *ngIf="loginService.userLoggedIn()" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuNav" aria-controls="menuNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <div *ngIf="loginService.userLoggedIn()">
            <button type="button" class="d-flex align-items-center btn text-light dropdown-toggle p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <a class="rounded-circle col-2" href="#">
                    <img [src]="userImg" class="imagen-admin" alt="">
                </a>
                <div class="ms-3 col-8">
                    <h6 class="m-0 p-0">{{loginService.userLogged()}}</h6>
                    <small>Administrador</small>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item d-flex justify-content-between" [routerLink]="['Login']" (click)="logout()">
                    <p class="m-0">Cerrar Sesion</p><i class="bi bi-box-arrow-right text-danger"></i>
                </a>
            </ul>
        </div>
        <div *ngIf="loginService.userLoggedIn()" class="offcanvas offcanvas-start nav-fondo" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="menuNav" aria-labelledby="menuNavLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light" id="menuNavLabel">Menu</h5>
                <button type="button" class="btn-close text-reset bg-danger" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body h-100 d-flex flex-column">
                <!-- <ul *ngIf="roles[0]=='administrador'" class="navbar-nav flex-grow-1 pe-3"> -->
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <!------------------------------------para administrador----------------------------->
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink='/Area' data-bs-dismiss="offcanvas" aria-label="Close">Administrar Areas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink='/Rol' data-bs-dismiss="offcanvas" aria-label="Close">Administrar Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink='/Persona' data-bs-dismiss="offcanvas" aria-label="Close">Administar Personas</a>
                    </li>
                </ul>
                <!-- <ul *ngIf="roles[0]!='administrador' && roles[0]!='encargado'" class="navbar-nav flex-grow-1 pe-3"> -->
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <!------------------------------------para roles----------------------------->
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink='/FormAnuncio' data-bs-dismiss="offcanvas" aria-label="Close">Administrar Mis Anuncio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink='/Persona' data-bs-dismiss="offcanvas" aria-label="Close">Menu Anuncios</a>
                    </li>
                </ul>
                <!-- <ul *ngIf="roles[0]=='encargado'" class="navbar-nav flex-grow-1 pe-3"> -->
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <!-----------------------------------para Encargado------------------------>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink='/Persona' data-bs-dismiss="offcanvas" aria-label="Close">Administrar anuncios</a>
                    </li>
                </ul>
                <div *ngIf="loginService.userLoggedIn()" class="text-light d-flex justify-content-between">
                    <a class="rounded-circle col-2" href="#">
                        <img [src]="userImg" class="imagen-user" alt="">
                    </a>
                    <div class="ms-3 col-8">
                        <h5>{{loginService.userLogged()}}</h5>
                        <small class="fw-light">#{{loginService.idLogged()}}</small>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <a [routerLink]="['Login']" (click)="logout()">
                            <i class="bi bi-box-arrow-right text-danger fs-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>