<nav class="navbar navbar-dark nav-fondo fw-bold text-uppercase">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuNav" aria-controls="menuNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start nav-fondo" tabindex="-1" id="menuNav" aria-labelledby="menuNavLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light" id="menuNavLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body h-100 d-flex flex-column">
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <div class="text-light d-flex justify-content-between">
                    <div class="d-flex">
                        <a class="rounded-circle" href="#">
                            <img src="assets/images/default-user.jpg" class="imagen-user" alt="">
                        </a>
                        <div class="ms-3 datos">
                            <h5>UserName</h5>
                            <p>Rol</p>
                        </div>
                    </div>
                    <p class="text-danger fs-2"><i class="bi bi-box-arrow-right"></i></p>
                </div>
            </div>
        </div>
    </div>
</nav>