<footer class="navbar navbar-expand-lg navbar-dark bg-dark text-white p-0">
    <div class="row p-0 m-0">
        <div class="col-12 col-md-6 col-lg-4 p-0">
            <div class="px-5 py-3 follow-us">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ullam unde consequuntur iste aliquam rem magni quibusdam cumque odio ut iusto ratione omnis libero, repudiandae placeat explicabo praesentium itaque ipsum culpa incidunt?</p>
                <h2 class="fs-4 fw-bold pt-3">Redes Sociales</h2>
                <div class="d-flex justify-content-between py-2">
                    <a href="#"><img class="red-social-icon" src="assets/iconos/facebook.png" alt=""></a>
                    <a href="#"><img class="red-social-icon" src="assets/iconos/instagram.png" alt=""></a>
                    <a href="#"><img class="red-social-icon" src="assets/iconos/linkedin.png" alt=""></a>
                    <a href="#"><img class="red-social-icon" src="assets/iconos/twitter.png" alt=""></a>
                </div>
            </div>
            <div class="w-100"></div>
        </div>
        <div class="col-md-6 col-lg-8 d-md-flex flex-md-column flex-lg-row justify-content-center align-items-center">
            <div class="col-12 col-lg-6 px-5 pb-lg-3 justify-content-center align-items-center">
                <div class="d-flex mt-5 justify-content-sm-center">
                    <i class="bi bi-map fs-2 text-primary mx-4"></i>
                    <div>
                        <h5 class="fw-bold fs-3">Argentina</h5>
                        <small class="fw-bold">UNJu - APU</small>
                    </div>
                </div>
                <progress class="mt-2 w-100 w-lg-75" value="90" max="100"></progress>
            </div>
            <div class="col-12 col-lg-6 px-5 pb-lg-3 justify-content-center align-items-center">
                <div class="d-flex mt-5 justify-content-sm-center">
                    <i class="bi bi-telephone fs-2 text-primary mx-4"></i>
                    <div>
                        <h5 class="fw-bold fs-3">hola</h5>
                        <small class="fw-bold">wacho</small>
                    </div>
                </div>
                <progress class="mt-2 w-100 w-lg-75" value="90" max="100"></progress>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center follow-us py-2">
            <p class="p-0 m-0">Todos los derechos reservados &copy; Grupi3.inc</p>
        </div>
    </div>
</footer>