/* You can add global styles to this file, and also import other style files */

*::-webkit-scrollbar {
    width: 7px;
    background: rgba(32, 32, 32, 0.851);
}

*::-webkit-scrollbar-thumb {
    width: 7px;
    background: #212020;
}