<!-- <form name="form">
    <div class="form-floating mb-3">
        <input [(ngModel)]="rol.nombre" type="text" class="form-control" name="nombreRol" id="nombreRol" placeholder="Rol">
        <label for="nombreRol">Nombre de Rol:</label>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success" (click)="guardarRol()">Guardar Rol</button>
    </div>
</form>
<table class="table table-dark table-borderless">
    <thead>
        <tr>
            <th scope="col-9">Rol</th>
            <th scope="col-3">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let role of roles">
            <th scope="row">{{role.nombre}}</th>
            <td class="d-flex">
                <button type="button" class="btn btn-danger" (click)="borrarRol(role)">
                    <i class="text-white bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table> -->