<form *ngIf="modoEditar || modoCrear" name="form">
    <div class="d-flex align-items-center mb-3">
        <p>Roles:</p>
        <div *ngIf="roles.length>0" class="d-flex mb-3">
            <div *ngFor="let rol of roles">
                <span class="badge rounded-pill text-dark bg-info p-2 mx-2">{{rol.nombre | titlecase}}
                    <button class="btn-close" type="button" (click)="quitarRol(roles.indexOf(rol),rol)"></button>
                </span>
            </div>
        </div>
        <button type="button" class="barge btn bg-info mx-2 text-dark rounded-pill" data-bs-toggle="modal" data-bs-target="#agregarRol">Agregar <i class="bi bi-plus"></i></button>
    </div>
    <div class="form-floating my-3">
        <input [(ngModel)]="area.nombre" type="text" class="form-control" name="nombre" id="nombre" placeholder="nombre rol">
        <label for="nombre">Nombre de Area:</label>
    </div>
    <div class="d-flex justify-content-center">
        <button *ngIf="modoCrear" type="submit" class="btn btn-primary" (click)="guardarArea()">Guardar Area</button>
        <button *ngIf="modoEditar" type="submit" class="btn btn-primary" (click)="actualizarArea()">Actualizar Area</button>
        <button type="submit" class="btn btn-danger" (click)="modoEditar = false;  modoCrear = false">Cancelar</button>
    </div>


    <div *ngIf="area" class="d-flex row my-3 mx-0 p-0">
        <!-- Modal -->
        <div class="modal fade" id="agregarRol" tabindex="-1" aria-labelledby="agregarAreaLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarAreaLabel">Agregar Rol</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating px-1 col-12">
                            <input [(ngModel)]="rol.nombre" type="text" class="form-control" name="rol" id="rol" placeholder="Rol">
                            <label for="rol">Nuevo Rol:</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger col-3" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning col-3" data-bs-dismiss="modal" (click)="agregarRol(rol.nombre)">Agregar Rol</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="table-responsive">
    <div class="row m-0">
        <button type="button" class=" col-12 btn btn-success d-flex justify-content-center" (click)="modoCrear = true">
            <h5 class="bi bi-plus">Agregar Area</h5>
        </button>
    </div>

    <table class="table table-dark table-borderless m-0 p-0">
        <thead>
            <tr>
                <th scope="col-9">Nombre</th>
                <th scope="col-9">Roles</th>
                <th scope="col-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let area of areas">
                <th scope="row">{{area.nombre | titlecase}}</th>
                <th scope="row">
                    <div *ngFor="let rol of area.roles">{{rol.nombre| titlecase}}</div>
                </th>
                <th scope="row">
                    <button type="button" class="btn p-0 rounded-pill" (click)="editarArea(area)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar">
                        <img class="iconoTabla m-0" src="assets/iconos/editar.png" alt="">
                    </button>
                    <button type="button" class="btn p-0 rounded-pill" (click)="borrarArea(area)" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar">
                        <img class="iconoTabla m-0" src="assets/iconos/eliminar.png" alt="">
                    </button>
                </th>
            </tr>
        </tbody>
    </table>
</div>